{{ define "machines" }}
<!-- Modal -->
<div class="modal fade" id="machines" tabindex="-1" role="dialog" aria-labelledby="machinesTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header py-2">
        <h5 class="modal-title text-muted" id="machinesTitle">Active Machines</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container-fluid">
       <div class="row"><div class="col-sm-auto card mx-3 my-2 border border-primary bg-light text-dark">
                        <small id="ch-os" class="card-subtitle text-left my-3" style="white-space:pre"></small>
                        </div>
                        <div id="ch-machines" class="col-sm"></div>
                        <div id="ch-cores"    class="col-sm"></div>
                        <div id="ch-mnps"     class="col-sm"></div>
                        <div id="ch-flags"    class="col-sm"></div></div>
       <div class="row"><div id="accordion" class="col" role="tablist" aria-multiselectable="true">

        {{ range $i, $e := .Data.M }}
        {{ if eq .finished false }}
        {{ $m := $.Fmt.Machines $e }}
        {{ $w := $m.workers }}
        {{ if $w }}
        {{ $sum := $m.sum }}
        {{ $id := printf "coll%.7s" $e._id.Hex }}

        <div class="card">
         <div class="card-header container-fluid" role="tab" id="heading{{$i}}">
          <div class="row">
           <div class="col-auto mr-auto mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#{{$id}}" aria-expanded="true" aria-controls="{{$id}}">{{ $e.args.new_tag }}</a>
           </div>
           <div class="col-auto small">{{ $sum.Machines }} for {{ $sum.Cores }} cores {{ printf "%.1f" $sum.Mnps }} Mnps</div>
          </div>
         </div>
         <div id="{{$id}}" class="collapse" role="tabpanel" aria-labelledby="heading{{$i}}">
          <div class="card-block">

           <div class="table-responsive">
            <table class="machines-table table table-striped table-sm">
            <tbody>
             {{ range $w }}
              <tr {{ if .idle }}class="text-muted font-weight-light"{{ end }}>
              <td>{{ .info.username }}</td>
              <td><div class="flag flag-{{.flag}}" style="display:inline-block"></div></td>
              <td>{{ .info.uname }}</td>
              <td>{{ .info.concurrency }}</td>
              <td>{{ printf "%.1f" .mnps }}</td>
             </tr>
            {{ end }}
            </tbody>
            </table>
           </div>

          </div>
         </div>
        </div>

        {{ end }}
        {{ end }}
        {{ end }}

       </div></div>
      </div>
    </div>
  </div>
</div>
{{ "!-- End of machines --" }}
{{ end }}
