{{ define "machines" }}
        {{ range $i, $e := .Data.M }}
        {{ if eq .finished false }}
        {{ $m := $.Fmt.Machines $e }}
        {{ $w := $m.workers }}
        {{ if $w }}
        {{ $sum := $m.sum }}
        {{ $id := printf "coll%.7s" $e._id.Hex }}

        <div class="card">
         <div class="card-header container-fluid" role="tab" id="heading{{$i}}">
          <div class="row">
           <div class="col-auto mr-auto mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#{{$id}}" aria-expanded="true" aria-controls="{{$id}}">{{ $e.args.new_tag }}</a>
           </div>
           <div class="col-auto small">{{ $sum.Machines }} for {{ $sum.Cores }} cores {{ printf "%.1f" $sum.Mnps }} Mnps</div>
          </div>
         </div>
         <div id="{{$id}}" class="collapse" role="tabpanel" aria-labelledby="heading{{$i}}">
          <div class="card-block">

           <div class="table-responsive">
            <table class="machines-table table table-striped table-sm" data-games="">
            <tbody>
             {{ range $w }}
              <tr {{ if .idle }}class="text-muted font-weight-light"{{ end }}>
              <td>{{ .info.username }}</td>
              <td><div class="flag flag-{{.flag}}" style="display:inline-block"></div></td>
              <td>{{ .info.uname }}</td>
              <td>{{ .info.concurrency }}</td>
              <td>{{ printf "%.1f" .mnps }}</td>
             </tr>
            {{ end }}
            </tbody>
            </table>
           </div>

          </div>
         </div>
        </div>

        {{ end }}
        {{ end }}
        {{ end }}

{{ "!-- End of machines --" }}
{{ end }}
